/MC/Server 1.20.4 plugins/PortableGit-2.30.0-64-bit/PortableGit/usr/bin/[.exe
/Server plugins/PortableGit-2.45.2-64-bit/PortableGit/usr/bin/[.exe
/MC/sdfj/mods/[1.19.4] SecurityCraft v1.9.8.jar
/MC/server nuevo/mods/[1.19.4] SecurityCraft v1.9.8.jar
/MC/Server 1.19.4 Mods/mods/[1.19.4] SecurityCraft v1.9.8.jar
/MC/Server 1.20.4 mods/mods/[1.20.4] SecurityCraft v1.9.8-beta2.jar
/Server plugins/work/decompile-latest/
/juegos nintendo/Mario Party Superstars [01006FE013472000][v0].nsp
